<?xml version="1.0" encoding="UTF-8"?>
<configuration>

    <appender name="stdout" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>
                %d{dd:MM:HH:mm:ss} [%thread] %-5level %logger{36} - %msg%n
            </pattern>
        </encoder>
    </appender>

   <!-- Configure the general logging behaviour for all subpackages of "places" -->
   <logger name="com.group9.places" level="INFO"/>
   <logger name="com.group9.places.endpoints" level="DEBUG"/>
   <logger name="com.group9.places.api" level="DEBUG" />
   <logger name="com.group9.places.model" level="DEBUG" />
     
   <!-- The logger configurations below significantly reduce the very chatty output of webflux -->
   <logger name="reactor" level="ERROR"/>
   <logger name="reactor.Mono" level="ERROR"/>
   <logger name="reactor.Flux" level="ERROR"/>
   <logger name="org.springframework.web" level="ERROR"/>
  
    <root level="WARN">
        <appender-ref ref="stdout"/>
    </root>

</configuration>




